<!--Page for editing a blog post-->
<div>
<p>Title:</p>
    <textarea>{{title}}</textarea>
</div>

<div>
    <p>Description:</p>
        <textarea>{{content}}</textarea>
</div>
    <button class="btn btn-primary" type="Update">Update</button>
