<!--Page for editing a blog post-->
<div>
<p>Title:</p>
    <textarea id="title">{{title}}</textarea>
</div>

<div>
    <p>Description:</p>
        <textarea id="content">{{content}}</textarea>
</div>
    <button id="edit" class="btn btn-primary" data-update="{{id}}" type="Update">Update</button>

<script src="/js/edit.js"></script>
