{{#if logged_in}}
    <div>
        <!-- will need to add in blog posts here -->
    </div>
{{else}}
<div id="text">
  <h1>Welcome to the Technology Blog</h1>
    <h3>Login or Signup to Begin</h3>
</div>
{{/if}}
<script src=""></script>

<script src=""></script>