<!--This page displays all blogs posted on this page-->
{{#if logged_in}}
{{#each blogs as |blog| }}
<div class = "blogPost">
    <div>
        <a href="'/blogpost/{{blog.id}}"> {{blog.title}}</a>
    </div>
    <h3>
        <p>
            Post Date: {{blog.date}}
        </p>
        <p>
            Post: {{blog.content}}
        </p>
    </h3>
      <div class="form-group">
    <label for="exampleInputComment">Comment</label>
    <input type="comment" id="comment" class="form-control" id="exampleInputComment" placeholder="Comment">
    <button type="comment" id="commentBtn" class="btn btn-primary">Submit</button>
    </div>
</div>
{{/each}}
<script src="/js/comment.js"></script>
{{/if}}
