<!--This page displays all blogs posted on this page-->
{{#each blogs as |blog| }}
<div class = "blogPost">
    <div>
        <a href="'/blogpost/{{blog.id}}"> {{blog.title}}</a>
    </div>
    <h3>
        <p>
            Post Date: {{blog.date}}
            Post: {{blog.content}}
        </p>
    </h3>
      <div class="form-group">
    <label for="exampleInputComment">Password</label>
    <input type="comment" id="comment" class="form-control" id="exampleInputComment" placeholder="Comment">
    <button type="comment" id="commentBtn" class="btn btn-primary">Comment</button>
    </div>
</div>
{{/each}}

<script src="/public/js/comment.js"></script>
