<!--This page displays all blogs posted on this page-->
{{#each blogs as |blog| }}
<div class = "blogPost">
    <div>
        <a href="'/blogpost/{{blog.id}}"> {{blog.title}}</a>
    </div>
    <h3>
        <p>
            Post Date: {{blog.date}}
            Post: {{blog.content}}
        </p>
    </h3>
</div>
{{/each}}
