:root{
    --primary: rgb(58, 7, 7);
    --secondary: rgb(225, 204, 176);
    --light: white;
    --dark: black
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    background-color:var(--primary);
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: scroll;
}

header{
    padding: 35px;
    background:var(--primary);
    color: var(--light)
}

main{
    display: block;
    flex-grow: 2;
    background-color: var(--secondary);
}

#current{
    text-align: center;
}

a{
    text-decoration: none;
    color: var(--dark);
}

a:hover{
    color: var(--primary);
}

nav a {
    color: var(--light);
    padding: 15px 25px ;
    text-decoration: double;
    text-align: center;
}

h5{
    background-color: var(--primary);
    width: 50%;
    color: var(--dark);
    border-radius: 20%;
}

h1{
    color: var(--dark);
    text-align: center;
}

.blog-post {
  margin-bottom: 20px;
  display: block;
}