:root{
    --primary: rgb(58, 7, 7);
    --secondary: rgb(225, 204, 176);
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    background-color:var(--primary);
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: scroll;
}

header{
    padding: 35px;
    background:var(--primary);
    color: white
}

main{
    display: block;
    flex-grow: 2;
    background-color: (var(--secondary));
}


nav a {
    color: white;
    padding: 15px 25px ;
    text-decoration: double;
    text-align: center;
}

.blog-post {
  margin-bottom: 20px;
  display: block;
}